.basic-checkbox-view {
}

.basic-checkbox-view .checkbox {
	-fx-font-size: 12;
	-fx-font-weight: bold;
}

.basic-checkbox-view .sentence {
	-fx-font-size: 14;
	-fx-font-style: italic;
	-fx-font-weight: bold;
}

